/*****************************************************start main ruls ****************************************/
body{
	background-color: #f4f4f4;
	font-size: 16px;
}

.asterisk{
	font-size: 30px;
	position: absolute;
	right: 30px;
	top:8px;
	color:#d20707 ;
}

/*****************************************************end main ruls *******************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*****************************************************start of log in *****************************************/
.login{

	max-width: 300px;
	margin:100px auto;

}

 .login h3{
 text-align: center;
 color: #888;

 }
.login input{
	margin-bottom: 10px;
}

.login .form-control{
	background-color:#EAEAEA;
}

.login .btn{

	background-color:#0088dd; 
}

.form-control{

	position: relative;
}

/*****************************************************end of log in *******************************************/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
/*****************************************************start of navbar *****************************************/
.navbar{
border-radius: 0;
margin-bottom: 0;
}

.navbar-brand{

	font-size: 1em;
}
 .nav >li>a,
 .navbar-brand
 {

padding:15px 12px;

 }

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:focus,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .dropdown-menu 
  {

    background-color: #3498db;
}

.dropdown-menu {
min-width: 180px;
padding: 0;
font-size: 1em;
border: none;
border-radius: 0;

}


.dropdown-menu > li > a{

	color:#fff;
	padding: 2px 15px;
}




/*****************************************************End of navbar *****************************************/


/*****************************************************start of dashbord page *****************************************/
.home-stats .stat{
padding: 20px;
font-size: 15px;
color:#fff;
border-radius: 10px;

}

.home-stats a{

	color:#fff;
}


.home-stats a:hover{

	text-decoration: none;
}



.home-stats .stat span{

font-size: 60px;
	display: block;
}

.home-stats .st-Member{
	background-color: #3498db;


}

.home-stats .st-Pending{
background-color: #c0392b;
	
}

.home-stats .st-Items{
	background-color: #d35400;

	
}

.home-stats .st-Comments{
background-color: #8e44ad;
	
}









.latset{
margin-top:30px;
}


.latset-user{
margin-bottom: 0;


}

.latset-user li{

	padding: 10px;
	overflow: hidden;
}



.latset-user btn-success,
.latset-user btn-info
{

padding: 2px 8px;

}

.latset-user .btn-info{
margin-right: 5px;

}

/*****************************************************End of dashbord page *****************************************/







/*****************************************************start of member page *****************************************/

h1{
	font-size:65;
	font-weight: bold;
	color:#666;
	margin: 40px  0;
}

.show-pass{
	position: absolute;
	right: -25px;
top: 6px;
}


.bu{

	margin-left: 5px;
}

.min-table{
-webkit-box-shadow: 0  3px  20px #ccc;
-moz-box-shadow: 0  3px  20px #ccc;
box-shadow: 0  3px  20px #ccc;

}


.min-table td{
background-color:#fff;
vertical-align: middle  !important;

}

.min-table tr:first-child  td{
background-color: #333;
color:#fff;


}


.min-table .btn{

	padding: 3px 10px;
}