body {
    scroll-behavior: none;
    background: #EEE;
}


.topheader {
    position: absolute;
    width: 100%;
    height: 48px;
    background: #393939;
}

.branding {
    position: absolute;
    width: 439px;
    height: 100%;
    border-right: 1px solid #373737;

}

.branding h3 {
    padding: 5px;
    margin: 0;
    color: gray;
    height: 35px;
    margin-left: 7px;
    margin-top: 7px;
    display: inline-block;
}

/*
.branding span {
    float: right;
    margin-right: 32px;
    line-height: 48px;
    font-style: italic;
    cursor: pointer;
    font-size: 22px;
    color: gray;
}*/

/*
.rightheader {
    position: absolute;
    left: 440px;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
}

.rightheader .selector {
    width: 813px;
}

.rightheader .touch-scrol {
    display: -webkit-inline-box;

}

.btn-default {
    width: 45px;
    height: 40px;
}

.num-order {
    color: white;
    background: black;
    display: inline-block;
    line-height: 24px;
    min-width: 24px;
    border-radius: 12px;
    margin-right: 4px;
}

.order-button {

    display: inline-block;
    min-width: 40px;
    margin-left: 1px;
    background: #5c5c5c;
    color: rgb(160, 160, 160);
    font-size: 18px;
    line-height: 45px;
}

.order-button i.fa {
    padding: 15px;
}*/

.pos-content {
    background: #F0EEEE;
}
.navbare
{
background: rgb(43, 54, 90);
padding: 10px 0;
}
.item_p
{
    background: #bad1cd;
    padding: 12px 5px;
    cursor: pointer;
}
.box
{
padding:3px;
}
.it_it img
{
    height: 127px;
}
.r_p
{
height: 500px;
overflow: overlay;
}
.cvv
{
    padding: 0;
    text-align: center;
}
.detaild
{
    padding: 0;
    height: 250px;
    overflow: overlay;
}
.r
{
    padding-top: 50px;
}
.cvv input
{
    width: 100%;
}
.row_pur
{
background: rgb(255, 255, 255);
padding: 7px;
border: 1px solid #DDD;
}
.r_i
{
    color: red;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.pos-content .leftpanel {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 440px;
    top: 0px;
    bottom: 0;
    border-right: solid 1px #CECBCB;
    border-right: solid 3px #787878;
    background: #e2e2e2;
}



.pos-content .leftpanel .order-side {
    background: #EEE;
    padding-bottom: 8px;
    font-size: 16px;
    text-align: left;
    max-width: 500px;
    height: 345px;
}

.pos-content .leftpanel .order-side .box-name {

    padding: 10px;
}

.pos-content .leftpanel .order-side .box-name ul {

    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
}

.pos-content .leftpanel .order-side .box-name ul li {

    padding: 0 25px;
    font-weight: 600;

}



/*
.pos-content .leftpanel .order-side .order-empty {
    text-align: center;
    margin: 48px;
    color: #DDD;
}
*/

.pos-content .leftpanel .order-side .order-detaild .detaild ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    border: 5px solid #DDD;
    display: flex;
    background-color: #fff;
}


.pos-content .leftpanel .order-side .order-detaild .detaild i {

    color: red;
    font-size: 20px;
    cursor: pointer;
}


.pos-content .leftpanel .order-side .order-detaild .detaild .tag-name,
.tag-total {
    display: inline-block;
    width: 92px;
}

.pos-content .leftpanel .order-side .order-detaild .detaild input {

    width: 100%;
    text-align: center;

}


.pos-content .leftpanel .order-side .order-empty .fa.fa-shopping-cart {
    font-size: 64px;
}

.pos-content .leftpanel .box-down {
    border-top: solid 3px rgb(110, 200, 155);
}

.box-down .button.set-customer span {
    position: relative;
    top: 18px;
}


.pos-content .leftpanel .box-down .left-actoin {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 16px;
    margin-top: 8px;
    margin-right: 0;
    text-align: center;
    vertical-align: top;
    width: 186px;
    border: none;
    border-radius: 0;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: #bfbfbf;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.box-down .left-actoin .button {
    position: relative;
    display: block;
    height: 54px;
    width: 100%;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    font-size: 14px;
    border-radius: 0;
    border: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #bfbfbf;
    transition: all 150ms linear;
    cursor: pointer;
}



.pos-content .leftpanel .box-down .left-actoin .button .set-customer {
    padding: 0 40px;
}

.left-actoin .button.set-customer i.fa.fa-user {
    position: absolute;
    left: 13px;
    top: 13px;
    margin-right: 8px;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.5);
    line-height: 30px;
    width: 30px;
    border-radius: 100%;
}

.left-actoin .button.pay {
    height: 162px;
    padding: 50px;
}



.button.pay .pay-circle {

    display: block;
    font-size: 32px;
    line-height: 54px;
    padding-top: 6px;
    background: rgb(86, 86, 86);
    color: white;
    width: 60px;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 10px;
}


.button.pay .pay-circle .fa.fa-chevron-right {
    position: relative;
    top: -1px;
    left: 3px;
}


.pos-content .leftpanel .box-down .numpad {
    display: inline-block;
    float: right;
    text-align: center;
    width: 216px;
    margin: 16px;
    margin-top: 8px;
    margin-left: 0px;
    border: none;
    border-radius: 0;
    border-top: 1px solid;
    border-color: #bfbfbf;
    border-top-right-radius: 4px;
}

.pos-content .leftpanel .box-down .numpad button.input-button.number-char {
    float: left;
    height: 54px;
    width: 54px;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    border-radius: 0;
    border: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #bfbfbf;
    transition: all 150ms linear;
    font-size: 30px;
}

.pos-content .leftpanel .box-down .numpad button.input-button {
    float: left;
    height: 54px;
    width: 54px;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    border-radius: 0;
    border: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #bfbfbf;
    transition: all 150ms linear;
    font-size: 17px;
}

.pos-content .leftpanel .box-down .numpad button img {
    width: 35px;
}




.pos-content .leftpanel .box-down .numpad .input-button.selected-mode {
    color: white;
    background: #6EC89B;
}



.pos-content .rightpanel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 440px;
    right: 0;
    vertical-align: top;
}

.pos-content .rightpanel .header-row {
    padding: 0;
    height: 48px;
    border-bottom: 1px solid #c7c7c7;
    background: #d3d3d3;
}

.pos-content .rightpanel .header-row .home {
    display: inline-block;
    float: left;
}

.pos-content .rightpanel .header-row .home i.fa.fa-home {
    line-height: 48px;
    width: 50px;
    font-size: 25px;
    text-align: center;
    color: #808080;
    cursor: pointer;
    border-right: 1px solid #c5c5c5;
}

.txt {
    width: 163px;
    border: 1px solid #cecbcb;
    padding: 10px 20px;
    margin: 4px;
    background-color: white;
    border-radius: 10px;
    font-size: 13px;

    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 50% */

.txt:focus {
    width: 50%;
}

.rightpanel .header-row .searchbox {
    text-align: center;
}

/*
.rightpanel .header-row .searchbox span.search-clear {

    cursor: pointer;

}

.rightpanel .header-row .searchbox span i {
    color: #aaa;
}
*/

.rightpanel .content-row {
    display: -webkit-inline-box
}


.rightpanel .content-row .products-list {
    padding: 10px;
    text-align: left;

}


.rightpanel .content-row .products-list .barcode {
    position: relative;
    vertical-align: top;
    display: inline-block;
    line-height: 100px;
    font-size: 11px;
    margin: 8px !important;
    width: 122px;
    height: 115px;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    border-bottom-width: 3px;
    overflow: hidden;
    cursor: pointer;
}

.rightpanel .content-row .products-list .barcode .products-img img {
    position: relative;
    width: 120px;
    height: 100px;
    background: white;
    text-align: center;
}


.rightpanel .content-row .products-list .barcode .products-img .price-tag {
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}

.rightpanel .content-row .products-list .barcode .products-name {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 0;
    top: auto;
    line-height: 14px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    background: -ms-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    padding: 3px;
    padding-top: 15px;
}
.num_con
{
    padding: 0;
}
.num_con_lbl
{
padding: 0;
height: 27px;
line-height: 27px;
}
.p_num_con
{
padding: 2px;
border: 1px solid rgb(199, 199, 199);
background: rgb(240, 240, 240);
margin-top: 5px;
}
.big_acco_con
{
padding: 21px 3px;
}
.bill
{
background: rgb(255, 255, 255);
width: 100%;
margin-top: 70px;
padding: 47px 5px;
display: inline-table;
}
.cust_name
{
    text-align: center;
    padding: 15px;
}
.bill_con
{
    text-align: center;
}
.products
{
text-align: left;
}
.hr
{
    height: 1px;
    background: #DDD;
    margin: 10px 0px;
}
.tbl_row_bill
{
    padding: 0;
}
.td_bill_ 
{
text-align: left;
padding: 0;
border-top: 1px solid #ddd;
margin-top: 3px;
}
.td_bill
{
    padding-left: 0;
    text-align: left;
}
.tbl_body_bill
{
    padding:0;
}
.vv
{
font-size: 17px;
font-weight: bold;
color: #333;
}
.vv1
{
font-size: 19px;
font-weight: bold;
color: red;
}
.prnt
{
    padding-top: 15px;
    text-align: left;
    width: 30%;
    display: inline-table;
}


.item_p{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    height:85px;
    background: #bad1cd;

}